/* 
    DONT edit app/css/modules/_sprite.css (bc it is generated automatically by Gulp), instead edit app/gulp/template/sprite.css
*/
 /* loops through icons in assets folder */
 /* only outputs once in loop */
    .icon {
        /* background-image: url('/assets/sprite/sprite-2db71b95.svg'); */
        background-image: url('../../assets/sprite/sprite-2db71b95.svg');
    }
    
    .no-svg .icon {
        /* background-image: url('/assets/sprite/sprite-2db71b95.png'); */
        background-image: url('../../assets/sprite/sprite-2db71b95.png');
    }

.icon--100--other-location { /* creates .icon--FILENAME class based on FILENAME */
    width: 18px;
    height: 18px;
    background-position: 75.78125% 98.4375%;
}
 /* loops through icons in assets folder */

.icon--100--section-briefcase { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 0;
}
 /* loops through icons in assets folder */

.icon--100--section-telephone { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 78.57142857142857%;
}
 /* loops through icons in assets folder */

.icon--100--section-tools { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 0 100%;
}
 /* loops through icons in assets folder */

.icon--100--section-user3 { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 8.73015873015873% 100%;
}
 /* loops through icons in assets folder */

.icon--100--skills-branding-design { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 36.206896551724135% 18.103448275862068%;
}
 /* loops through icons in assets folder */

.icon--100--skills-intuitive-brainbulb { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 0 36.206896551724135%;
}
 /* loops through icons in assets folder */

.icon--100--skills-performance { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 18.103448275862068% 36.206896551724135%;
}
 /* loops through icons in assets folder */

.icon--100--skills-responsive { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 36.206896551724135% 36.206896551724135%;
}
 /* loops through icons in assets folder */

.icon--100--skills-seo { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 54.310344827586206% 0;
}
 /* loops through icons in assets folder */

.icon--100--skills-ux-hand { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 54.310344827586206% 18.103448275862068%;
}
 /* loops through icons in assets folder */

.icon--100--skills-webstandards-quality { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 54.310344827586206% 36.206896551724135%;
}
 /* loops through icons in assets folder */

.icon--300--other-location { /* creates .icon--FILENAME class based on FILENAME */
    width: 18px;
    height: 18px;
    background-position: 90.625% 82.03125%;
}
 /* loops through icons in assets folder */

.icon--300--section-briefcase { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 61.111111111111114% 100%;
}
 /* loops through icons in assets folder */

.icon--300--section-telephone { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 52.38095238095238% 100%;
}
 /* loops through icons in assets folder */

.icon--300--section-tools { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 83.33333333333333% 83.33333333333333%;
}
 /* loops through icons in assets folder */

.icon--300--section-user3 { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 87.3015873015873%;
}
 /* loops through icons in assets folder */

.icon--300--skills-branding-design { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 72.41379310344827% 18.103448275862068%;
}
 /* loops through icons in assets folder */

.icon--300--skills-intuitive-brainbulb { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 72.41379310344827% 36.206896551724135%;
}
 /* loops through icons in assets folder */

.icon--300--skills-performance { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 72.41379310344827% 54.310344827586206%;
}
 /* loops through icons in assets folder */

.icon--300--skills-responsive { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 0 72.41379310344827%;
}
 /* loops through icons in assets folder */

.icon--300--skills-seo { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 18.103448275862068% 72.41379310344827%;
}
 /* loops through icons in assets folder */

.icon--300--skills-ux-hand { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 36.206896551724135% 72.41379310344827%;
}
 /* loops through icons in assets folder */

.icon--300--skills-webstandards-quality { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 54.310344827586206% 72.41379310344827%;
}
 /* loops through icons in assets folder */

.icon--500--other-location { /* creates .icon--FILENAME class based on FILENAME */
    width: 18px;
    height: 18px;
    background-position: 68.75% 98.4375%;
}
 /* loops through icons in assets folder */

.icon--500--section-briefcase { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 69.84126984126983%;
}
 /* loops through icons in assets folder */

.icon--500--section-telephone { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 61.111111111111114%;
}
 /* loops through icons in assets folder */

.icon--500--section-tools { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 52.38095238095238%;
}
 /* loops through icons in assets folder */

.icon--500--section-user3 { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 43.65079365079365%;
}
 /* loops through icons in assets folder */

.icon--500--skills-branding-design { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 90.51724137931035% 72.41379310344827%;
}
 /* loops through icons in assets folder */

.icon--500--skills-intuitive-brainbulb { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 0 0;
}
 /* loops through icons in assets folder */

.icon--500--skills-performance { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 18.103448275862068% 90.51724137931035%;
}
 /* loops through icons in assets folder */

.icon--500--skills-responsive { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 36.206896551724135% 90.51724137931035%;
}
 /* loops through icons in assets folder */

.icon--500--skills-seo { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 54.310344827586206% 90.51724137931035%;
}
 /* loops through icons in assets folder */

.icon--500--skills-ux-hand { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 72.41379310344827% 90.51724137931035%;
}
 /* loops through icons in assets folder */

.icon--500--skills-webstandards-quality { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 0 90.51724137931035%;
}
 /* loops through icons in assets folder */

.icon--700--other-location { /* creates .icon--FILENAME class based on FILENAME */
    width: 18px;
    height: 18px;
    background-position: 89.0625% 90.625%;
}
 /* loops through icons in assets folder */

.icon--700--section-briefcase { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 8.73015873015873%;
}
 /* loops through icons in assets folder */

.icon--700--section-telephone { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 17.46031746031746%;
}
 /* loops through icons in assets folder */

.icon--700--section-tools { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 26.19047619047619%;
}
 /* loops through icons in assets folder */

.icon--700--section-user3 { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 100% 34.92063492063492%;
}
 /* loops through icons in assets folder */

.icon--700--skills-branding-design { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 90.51724137931035% 54.310344827586206%;
}
 /* loops through icons in assets folder */

.icon--700--skills-intuitive-brainbulb { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 90.51724137931035% 36.206896551724135%;
}
 /* loops through icons in assets folder */

.icon--700--skills-performance { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 90.51724137931035% 18.103448275862068%;
}
 /* loops through icons in assets folder */

.icon--700--skills-responsive { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 90.51724137931035% 0;
}
 /* loops through icons in assets folder */

.icon--700--skills-seo { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 72.41379310344827% 72.41379310344827%;
}
 /* loops through icons in assets folder */

.icon--700--skills-ux-hand { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 72.41379310344827% 0;
}
 /* loops through icons in assets folder */

.icon--700--skills-webstandards-quality { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 54.310344827586206% 54.310344827586206%;
}
 /* loops through icons in assets folder */

.icon--900--other-location { /* creates .icon--FILENAME class based on FILENAME */
    width: 18px;
    height: 18px;
    background-position: 82.03125% 90.625%;
}
 /* loops through icons in assets folder */

.icon--900--section-briefcase { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 17.46031746031746% 100%;
}
 /* loops through icons in assets folder */

.icon--900--section-telephone { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 26.19047619047619% 100%;
}
 /* loops through icons in assets folder */

.icon--900--section-tools { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 34.92063492063492% 100%;
}
 /* loops through icons in assets folder */

.icon--900--section-user3 { /* creates .icon--FILENAME class based on FILENAME */
    width: 22px;
    height: 22px;
    background-position: 43.65079365079365% 100%;
}
 /* loops through icons in assets folder */

.icon--900--skills-branding-design { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 36.206896551724135% 54.310344827586206%;
}
 /* loops through icons in assets folder */

.icon--900--skills-intuitive-brainbulb { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 18.103448275862068% 54.310344827586206%;
}
 /* loops through icons in assets folder */

.icon--900--skills-performance { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 0 54.310344827586206%;
}
 /* loops through icons in assets folder */

.icon--900--skills-responsive { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 36.206896551724135% 0;
}
 /* loops through icons in assets folder */

.icon--900--skills-seo { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 18.103448275862068% 18.103448275862068%;
}
 /* loops through icons in assets folder */

.icon--900--skills-ux-hand { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 0 18.103448275862068%;
}
 /* loops through icons in assets folder */

.icon--900--skills-webstandards-quality { /* creates .icon--FILENAME class based on FILENAME */
    width: 42px;
    height: 42px;
    background-position: 18.103448275862068% 0;
}
