html {
    font-kerning: normal;
    font-size:100%;
    @include breakpoint(medium) {
        font-size:118.75%;
    }
    @include breakpoint(large) {
        // font-size:1.375rem;
        font-size:137.5%;
        // font-size:22px;
    }
    .mark {
        background-color: red;
    }
    .full-width-text {
        @include breakpoint(medium) {
            font-size: 1.5em;
        }
    }
}
.no-svg {
    .hero {
        &:before {
            background-image: url('../../../../src/assets/images/architecture7png.png');
        }
    }
}