extends index


block about
    .about.section#about
        .wrapper
            img.about__pic(src="assets/images/profilepic.jpg" alt="that's me!")
            .heading
                span.heading__sub.heading--uppercase About Section
                h2.heading__main Your everyday geeky gal
                h3.heading__lead Ambitious, persistent, self-taught
            p.about__text Hiya, I'm an aspiring full stack developer, with extensive knowledge of HTML, CSS and JS, and working knowledge of Angular, hoping to join a fast-growing and innovative company as a passionate junior developer and grow my portfolio. 
            .justified.grid-x.align-justify 
                div #[span.icon.icon--500--other-location.icon--alt--ib] Chesterfield, Derbyshire
                .social-media 
                    a.social-media__button(href="https://www.twitter.com/artisanclick") #[i.fa.fa-twitter]
                    a.social-media__button(href="https://www.instagram.com/artisanclick") #[i.fa.fa-instagram]
                    a.social-media__button(href="https://open.spotify.com/user/jg78z1akyh5ulo6cu2ss4lv6v?si=inyh5SIwR2amlWO7uXFQBg") #[i.fa.fa-spotify]
                    a.social-media__button(href="https://www.last.fm/user/artisanclick") #[i.fa.fa-lastfm]
