extends index


block services
    .services.section#skills
        .wrapper
            .heading
                span.heading__sub.heading--uppercase Skills Section
                h2.heading__main Developing and designing know-how
            .skill-card-group.grid-x.grid-margin-x.grid-margin-y.grid-padding-x.grid-padding-y.medium-up-2
                .skill-card.cell
                    span.skill-card__icon.icon.icon--300--skills-branding-design
                    h4.skill-card__title Input
                    p.skill-card__text Angular, React, WordPres, JavaScript, Github, Sass, Gulp, Webpack, Chrome Dev Tools, ajax, redux
                .skill-card.cell
                    span.skill-card__icon.icon.icon--300--skills-responsive
                    h4.skill-card__title Output
                    p.skill-card__text
                        Semantic code, Accessibility, SEO optimisation, responsive images, browser compatibility, lazy loading, responsive, reactive
