// @import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i|Cabin:400,500,600,700,400i,500i,600i,700i|Alfa+Slab+One|Cherry+Swash|Corben:700|Katibeh|Oleo+Script+Swash+Caps|Oleo+Script:700|Patua+One|Yeseva+One|Overlock|Shrikhand|Convergence');
// @import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400i,500i,600i,700i|Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i|Corben:700');
// @import url('https://fonts.googleapis.com/css?family=Assistant|Barlow:400,400i|Lato:400,400i|Mada|Martel+Sans|Montserrat:400,400i|Muli:400,400i|Nunito:400,400i|Open+Sans:400,400i|Palanquin|Poppins:400,400i|Rubik:400,400i|Corben:700');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Corben:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i|Corben:700');

// @font-face {
//     font-family: 'MyWebFont';
//     src: url('myfont.woff2') format('woff2'),
//         url('myfont.woff') format('woff'),
//         url('myfont.ttf') format('truetype');
// }

// $headerFont: 'Cabin';
$headerFont: 'Corben';

// // $bodyFont: 'Assistant';
// // $bodyFont: 'Raleway';
// $bodyFont: 'Barlow'; /* no */
// $bodyFont: 'Martel Sans'; /* no */
// $bodyFont: 'Palanquin'; /* no */
// $bodyFont: 'Mada'; /* ok - no ital */
// $bodyFont: 'Rubik'; /* no */
// // $bodyFont: 'Lato'; /* ok */
// // $bodyFont: 'Montserrat'; /* ok */
// // $bodyFont: 'Muli'; /* ok */
// // $bodyFont: 'Nunito'; /* ok */
// $bodyFont: 'Open Sans'; /* yeah */
// $headerFont: 'Open Sans'; /* yeah */
// // $bodyFont: 'Poppins'; /* ok */

$bodyFont: 'Rubik'; 
$bodyFont: 'Lato'; 
$headerFont: 'Lato'; 

// $display1: 'Alfa Slab One';
// $display2: 'Cherry Swash';
// $display3: 'Corben'; /* liked */
// $display4: 'Katibeh';
// $display5: 'Oleo Script Swash Caps';
// $display6: 'Oleo Script';
// $display7: 'Patua One'; /* liked */
// $display8: 'Yeseva One';
// $display9: 'Overlock';
// $display10: 'Shrikhand';/* ok */
// $display11: 'Convergence';/* ok */